body {
    width: 100%;
    font-size: 12px;
    line-height: normal;
    color: black;
    font-weight: 100;
    font-family: "Cuprum", sans-serif, Arial;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header-up {
    vertical-align: top;
    background-color: #293449;
}

.logo {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 24px;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 220px;
    padding: 8px 50px 8px 50px;
    float: left;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

form.search {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    display: block;
    width: 260px;
    float: left;
}

form.search input {
    box-sizing: border-box;
    width: 270px;
    height: 42px;
    padding-top: 12px 0 12px 25px;
    outline: 0;
    border: none;
    background-color: #293449;
    outline: none;
    border: none;
}

input[type="search"]:hover ~ label::before {
    color: #ffffff;
}

input[type="search"]:focus ~ label::before,
input[type="search"]:active ~ label::before {
    color: #ee3643;
}

form.search input:focus {
    background-color: #ffffff;
}

.bookmark,
.cart,
.order {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.bookmark,
.cart {
    display: block;
    position: relative;
    width: 150px;
    padding: 12px 0 12px 44px;
    float: left;
}

.order {
    display: block;
    width: 150px;
    padding: 12px 0 12px 20px;
    float: right;
    background-color: #63a63e;
}

.header-middle {
    padding: 0 0 60px 0;
    background-color: #f1f5f7;
}

.about {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
    font-style: italic;
    width: 310px;
    padding: 26px 50px 13px 50px;
    float: left;
}

.contacts {
    width: 320px;
    padding: 46px 40px 45px 10px;
    float: left;
}

.contacts-telephone,
.user_form-login,
.user_form-registration {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #e9292a;
    text-align: center;
}

.contacts-telephone {
    display: block;
    padding: 9px 42px 9px 70px;
    border: 3px solid #ffffff;
}

.contacts-address {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;
    text-align: center;
}

.user_form {
    width: 310px;
    padding: 46px 0 20px 30px;
    float: right;
}

.user_form-login {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: block;
    float: left;
    width: auto;
    padding: 14px 27px 15px 40px;
    background-color: #ffffff;
}

.user_form-registration {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: block;
    float: left;
    width: auto;
    margin: 0 0 0 10px;
    padding: 14px 25px 15px 25px;
    background-color: #ffffff;
}

.header-down {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #293449;
    background-color: #32425c;
}

.header-down li {
    display: inline-block;
    vertical-align: top;
    padding: 15px 28px 20px 28px;
}

.header-down a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.header-down li:hover {
    background-color: #293449;
}

.menu {
    margin-bottom: 0px;
}

.breadcrumbs li {
    display: inline-block;
    float: left;
    padding: 20px 20px 20px 20px;
    background-color: darkgoldenrod;
}

.catalog-title {
    display: block;
    float: left;
    width: 940px;
    padding: 30px 0 30px 20px;
    background-color: #f2f6f8;
}

.catalog {
    padding-top: 20px;
}

.filter {
    width: 220px;
    float: left;
    background-color: crimson;
}

.filter-sorting {
    display: block;
    width: 220px;
    padding: 10px 0 10px 20px;
    background-color: #f7f3ec;
}

.filter-title {
    display: block;
    padding: 15px 0 15px 0;
}

.filter-price_selection {
    margin-bottom: 25px;
}

.filter-scale {
    display: block;
    width: 220px;
    min-height: 80px;
    margin-bottom: 10px;
    background-color: #f7f3ec;
}

.filter-price-min {
    display: block;
    float: left;
    width: 95px;
    min-height: 40px;
    background-color: #f7f3ec;
}

.filter-price-max {
    display: block;
    float: right;
    width: 95px;
    min-height: 40px;
    background-color: #f7f3ec;
}

.filter-manufacturers {
    border-top: 1px solid #e5e5e5;
}

.filter-manufacturers input {
    display: block;
    padding: 0 0 25px 35px;
}

.filter-charge {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 75px;
}

.filter-charge input {
    display: block;
    padding: 0 0 25px 35px;
}

.filter button {
    display: block;
    padding: 15px 40px 15px 40px;
    border: 1px solid #e5e5e5;
}

.catalog-sorting-filter {
    display: block;
    width: 700px;
    padding: 10px 0 10px 20px;
    background-color: #f7f3ec;
}

.catalog-sorting-filter span {
    display: block;
    float: left;
    width: 140px;
    padding: 10px 20px 10px 15px;
}

.catalog-sorting-filter li {
    display: inline-block;
    float: left;
    width: 120px;
}

.catalog-goods {
    width: 700px;
    float: right;
    background-color: darkblue;
}

.goods-item {
    float: left;
    width: 218px;
    margin-right: 20px;
    margin-top: 20px;
    min-height: 318px;
    border: 2px solid #e5e5e5;
    text-align: center;
}

.goods-item:nth-child(3n) {
    float: right;
    margin-right: 0px;
}

.goods-paginator {
    margin-top: 55px;
    margin-bottom: 50px;
}

.goods-paginator a {
    display: inline-block;
    width: 40px;
    min-height: 40px;
    margin-right: 10px;
    text-align: center;
    background-color: azure;
}

.seo-text {
    background-color: #f2f6f8;
    padding: 70px 0 70px 0;
}

.seo-text-title {
    padding-bottom: 20px;
}

.offer {
    margin-top: 60px;
    margin-bottom: 30px;
}

.offer-item {
    display: inline-block;
    float: left;
    position: relative;
    width: 300px;
    min-height: 125px;
    padding: 0px 0 20px 23px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: dodgerblue;
    overflow: hidden;
}

.offer .offer-item:nth-child(3n) {
    float: right;
    margin-right: 0;
}

.offer .offer-item:nth-child(5) {
    float: right;
    margin-right: 0;
}

.offer-item-type {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.offer-item-info {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 135px;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.offer-item-info:hover {
    background-color: rgba(0, 0, 0, .2);
}

.offer-item-info:active {
    background-color: rgba(0, 0, 0, .3);
}

.offer-material {
    background-color: #f6b22d;
}

.offer-material:after {
    position: absolute;
    top: 30px;
    left: 213px;
    width: 45px;
    height: 65px;
    background: #ffffff no-repeat;
    content: "";
}

.offer-tool {
    background-color: #4aafde;
}

.offer-tool:after {
    position: absolute;
    top: 31px;
    left: 198px;
    width: 76px;
    height: 65px;
    background: #ffffff no-repeat;
    content: "";
}

.offer-equipment {
    background-color: #85d179;
}

.offer-equipment:after {
    position: absolute;
    top: 31px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: #ffffff no-repeat;
    content: "";
}

.offer-discounts {
    background-color: #cc79d1;
}

.offer-discounts:after {
    position: absolute;
    top: 31px;
    left: 195px;
    width: 60px;
    height: 75px;
    background: #ffffff no-repeat;
    content: "";
}

.offer-delivery {
    background-color: #f6b22d;
}

.offer-delivery:after {
    position: absolute;
    top: 31px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: #ffffff no-repeat;
    content: "";
}

.offer-slider-block {
    float: left;
    width: 620px;
    min-height: 270px;
    background-color: cadetblue;
}

.offer-slider-item {
    display: inline-block;
    float: left;
    width: 620px;
    min-height: 270px;
    margin-right: 20px;
    background-color: crimson;
}

.offer-slider-drill {
    display: none;
}

.popular {
    background-color: #f7f3ec;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 25px 60px 30px;
}

.popular-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    display: block;
    float: left;
    margin: 0;
    width: 380px;
}

.popular-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    float: right;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;
}

.popular-btn:hover {
    background-color: #ca2c37;
}

.popular-btn:active {
    background-color: #ba2732;
}

.popular-products {
    margin-bottom: 20px;
}

.popular-item {
    float: left;
    width: 218px;
    margin-right: 20px;
    min-height: 318px;
    border: 2px solid #e5e5e5;
    text-align: center;
}

.popular-item-name {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 37px;
}

.popular-item-old_price {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #999999;
    text-decoration: line-through;
    text-align: center;
    margin: 0 auto;
}

.popular-item-price {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 37px;
    width: 122px;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    background-color: #ee3643;
}

.popular-item:last-child {
    float: right;
    margin-right: 0px;
}

.popular-brand {
    margin-bottom: 70px;
}

.brand-logo {
    display: block;
    float: left;
    width: 218px;
    min-height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #e5e5e5;
    text-align: center;
}

.brand-logo:nth-child(4) {
    float: right;
    margin-right: 0px;
}

.brand-logo:nth-child(8) {
    float: right;
    margin-right: 0px;
}

.service {
    padding-top: 35px;
    background-color: #f2f6f8;
}

.service-left {
    float: left;
    display: block;
    width: 240px;
    padding-top: 75px;
    padding-bottom: 100px;
}

.service-menu-item {
    width: 240px;
    min-height: 60px;
    padding: 20px 0 25px 20px;
    list-style-type: none;
    background-color: #32425c;
}

.service-right {
    float: right;
    width: 620px;
    padding-top: 75px;
    padding-bottom: 100px;
    min-height: 284px;
}

.service-right-guarantee {
    display: none;
}

.service-right-credit {
    display: none;
}

.company {
    padding-top: 80px;
    padding-bottom: 85px;
}

.company-about {
    float: left;
    width: 540px;
    background-color: blueviolet;
}

.company-contact {
    float: right;
    width: 300px;
    background-color: aqua;
}

.footer-up {
    background-color: #32425c;
}

.footer-logo {
    display: block;
    float: left;
    width: 220px;
    min-height: 65px;
    background-color: azure;
}

.footer-company-menu {
    display: block;
    float: right;
    width: 560px;
    background-color: fuchsia;
}

.footer-company-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 20px 25px;
}

.footer-middle {
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-middle-address {
    float: left;
    width: 310px;
    background-color: chartreuse;
}

.footer-shop-menu {
    display: block;
    float: right;
    width: 550px;
}

.footer-shop-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 14px 25px;
}

.footer-down {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #293449;
}

.footer-down-copyright {
    float: left;
    width: 240px;
    background-color: cornflowerblue;
}

.footer-down-social {
    margin: 0 auto;
    background-color: blueviolet;
}

.footer-down-feedback {
    float: right;
    width: 170px;
    background-color: cadetblue;
}

.footer-down-design {
    float: right;
    width: 150px;
    background-color: aquamarine;
}

.menu {
    
}
