body {
    width: 100%;
    font-size: 12px;
    line-height: normal;
    color: black;
    font-weight: 100;
    font-family: "Cuprum", sans-serif, Arial;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.header-up {
    vertical-align: top;
    background-color: #293449;
}

.logo {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 24px;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 220px;
    padding: 10px 50px 8px 55px;
    float: left;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.logo:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.logo a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 24px;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

form.search {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    display: block;
    float: left;
    position: relative;
}

form.search input {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    width: 270px;
    height: 42px;
    padding: 12px 0 12px 49px;
    background-color: #293449;
    outline: none;
    border: none;
}

form.search input::-webkit-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

form.search input::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

form.search input::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

form.search input::-ms-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

form.search input:focus::-webkit-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

form.search input:focus::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

form.search input:focus::-ms-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

form.search input:hover {
    background-color: #212a3a;
}

form.search:before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 17px;
    background: -626px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

form.search:hover::before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 17px;
    background: -876px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

input[type="search"]:focus~label::before,
input[type="search"]:active~label::before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 17px;
    background: -903px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

input[type="search"]:hover {
    color: #ffffff;
}

input[type="search"]:focus,
input[type="search"]:active {
    color: #000000;
}

form.search input:focus {
    background-color: #ffffff;
}

.bookmark,
.cart,
.order {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.bookmark {
    display: block;
    position: relative;
    width: 150px;
    padding: 12px 0 12px 45px;
    float: left;
}

.cart {
    display: block;
    position: relative;
    width: 150px;
    padding: 12px 0 12px 49px;
    float: left;
}

.cart:before {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 17px;
    height: 16px;
    background: -255px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.cart-full {
    background-color: #ee3643;
}

.cart-full:active {
    background-color: #ba2732;
}

.bookmark:before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 14px;
    height: 16px;
    background: -282px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.bookmark:hover,
.cart:hover {
    background-color: #212a3a;
}

.bookmark:active,
.cart:active {
    color: rgba(255, 255, 255, .6);
    background-color: #161d29;
}

.bookmark:hover::before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 14px;
    height: 16px;
    background: -134px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.bookmark:active::before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 14px;
    height: 16px;
    background: -110px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.cart:hover::before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 16px;
    background: -59px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.cart:active::before {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 16px;
    background: -32px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.order {
    display: block;
    width: 150px;
    padding: 12px 10px 12px 21px;
    float: right;
    background-color: #63a63e;
}

.order:hover {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

.header-middle {
    padding: 0 0 60px 0;
    background-color: #f1f5f7;
}

.about {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
    font-style: italic;
    width: 310px;
    padding: 33px 50px 8px 52px;
    float: left;
}

.contacts {
    width: 320px;
    padding: 46px 40px 27px 10px;
    float: left;
}

.contacts-telephone {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #e9292a;
    text-align: center;
}

.contacts-telephone {
    display: block;
    position: relative;
    padding: 9px 42px 9px 63px;
    margin-bottom: 4px;
    border: 3px solid #ffffff;
}

.contacts-telephone:before {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background: -579px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.contacts-address {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;
    text-align: center;
    padding-left: 9px;
}

.catalog-user_form {
    width: 300px;
    padding: 46px 0 15px 2px;
    float: right;
}

.index-user_form {
    width: 300px;
    padding: 46px 0 15px 19px;
    float: right;
}

.user_form-login {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: block;
    position: relative;
    float: left;
    width: auto;
    padding: 12px 25px 11px 47px;
    background-color: #ffffff;
}

.user_form-login:before {
    position: absolute;
    top: 15px;
    left: 14px;
    width: 20px;
    height: 17px;
    background: -518px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.user_form-registration {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: block;
    float: left;
    width: auto;
    margin: 0 0 0 10px;
    padding: 12px 24px 11px 25px;
    background-color: #ffffff;
}

.user_form-login:hover,
.user_form-registration:hover {
    color: #ee3643;
}

.user_form-login:active,
.user_form-registration:active {
    color: rgba(0, 0, 0, .3);
}

.user_form-login:hover::before {
    position: absolute;
    top: 15px;
    left: 14px;
    width: 20px;
    height: 17px;
    background: -699px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.user_form-login:active::before {
    position: absolute;
    top: 15px;
    left: 14px;
    width: 20px;
    height: 17px;
    background: -669px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.user_form-user {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    position: relative;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 45px;
    background-color: #ffffff;
}

.user_form-user:before {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 17px;
    height: 17px;
    background: -653px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.user_form-user:after {
    position: absolute;
    top: 14px;
    left: 267px;
    width: 21px;
    height: 17px;
    background: -548px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.user_form-user:hover::before {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 17px;
    height: 17px;
    background: -1053px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.user_form-user:hover::after {
    position: absolute;
    top: 14px;
    left: 267px;
    width: 21px;
    height: 17px;
    background: -791px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.user_form-user:active::before {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 17px;
    height: 17px;
    background: -1023px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.user_form-user:active::after {
    position: absolute;
    top: 14px;
    left: 267px;
    width: 21px;
    height: 17px;
    background: -760px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.user_form-user:hover {
    color: #000000;
}

.user_form-user:active {
    color: #b2b2b2;
}

.user_form-menu {
    position: relative;
    padding-top: 10px;
}

.user_form-menu-item {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    margin-left: 16px;
    margin-right: 13px;
}

.user_form-menu-item:before {
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 105px;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    content: "";
}

.user_form-menu-item:hover {
    color: #ee3643;
}

.user_form-menu-item:active {
    color: #b7bfc8;
}

.header-down {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #293449;
    background-color: #32425c;
}

.header-down li {
    display: inline-block;
    vertical-align: top;
    padding: 18px 27px 18px 31px;
}

.header-down a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.header-down li:hover {
    background-color: #293449;
}

.header-down li:active {
    color: #777d88;
    background-color: #1d2739;
}

.header-down a:active {
    color: #777d88;
}

.menu {
    padding-left: 21px;
    padding-top: 2px;
    margin-bottom: 0px;
}

.breadcrumbs {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}

.breadcrumbs:after {
    position: absolute;
    top: 23px;
    left: 0px;
    width: 15px;
    height: 12px;
    background: -466px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
    cursor: pointer;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    float: left;
    padding: 21px 23px 20px 16px;
}

.breadcrumbs li:last-child {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    float: left;
    padding: 21px 23px 20px 20px;
}

.breadcrumbs li:before {
    position: absolute;
    top: 23px;
    left: -8px;
    width: 8px;
    height: 12px;
    background: -608px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.breadcrumbs a {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 940px;
    padding: 30px 0 30px 27px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #f2f6f8;
}

.catalog {
    padding-top: 20px;
}

.filter {
    width: 220px;
    float: left;
}

.filter label {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
}

.filter input[type="radio"],
.filter input[type="checkbox"] {
    display: none;
}

.filter label {
    display: block;
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
}

.filter input[type="text"] {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

input[type="checkbox"]+label:before {
    position: absolute;
    top: -3px;
    left: -36px;
    width: 23px;
    height: 23px;
    background: -306px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

input[type="radio"]+label:before {
    position: absolute;
    top: -3px;
    left: -36px;
    width: 25px;
    height: 25px;
    background: -376px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

input[type="radio"]:checked+label::before {
    position: absolute;
    top: -3px;
    left: -36px;
    width: 25px;
    height: 25px;
    background: -411px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

input[type="checkbox"]:checked+label::before {
    position: absolute;
    top: -3px;
    left: -36px;
    width: 27px;
    height: 23px;
    background: -339px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

input[type="radio"]:disabled+label::before,
input[type="checkbox"]:disabled+label::before {
    color: #e9e9e9;
}

.filter-sorting {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 220px;
    padding: 10px 0 10px 19px;
    background-color: #f7f3ec;
}

.filter-price_input {
    margin-top: -2px;
    padding-left: 3px;
}

.filter-title {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    margin-bottom: 13px;
}

.filter-price_selection {
    padding-bottom: 25px;
    margin-bottom: 16.5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e5e5e5;
}

.filter-price_selection span,
.filter-price_selection input {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.filter-price_selection input {
    width: 95px;
    background-color: #f7f3ec;
    border-radius: 5px;
    border: none;
    outline: none;
}

.filter-price_selection span {
    margin-left: 8px;
}

.filter-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 9px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.filter-scale {
    position: relative;
    height: 2px;
    background-color: #d7dcde;
}

.filter-scale-bar {
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #00ca74;
}

.filter-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
    background-color: #ffffff;
    cursor: pointer;
}

.filter-toggle:before {
    position: absolute;
    top: 7px;
    left: 7.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ababab;
    content: "";
}

.filter-toggle-min {
    top: 30px;
}

.filter-toggle-max {
    top: 30px;
    left: 160px;
}

.filter-price-min {
    display: block;
    float: left;
    width: 95px;
    min-height: 40px;
    background-color: #f7f3ec;
}

.filter-price-max {
    display: block;
    float: right;
    width: 95px;
    min-height: 40px;
    background-color: #f7f3ec;
}

.filter-minus-sign {
    position: absolute;
    top: 675px;
}

.filter-manufacturers {
    margin-bottom: 16.5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e5e5e5;
}

.filter-manufacturers input {
    display: block;
    padding: 0 0 25px 35px;
}

.filter-charge {
    margin-bottom: 80px;
}

.filter-charge input {
    display: block;
    padding: 0 0 25px 35px;
}

.filter-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 11px 40px 7px 42px;
    border: 1px solid #e5e5e5;
}

.filter-btn:hover {
    border-color: #bdc6ca;
}

.filter-btn:active {
    border-color: #ee3643;
}

.catalog-sorting {
    position: relative;
    float: right;
    width: 480px;
}

.catalog-sorting-filter {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.catalog-sorting-filter span {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 100px;
    padding-left: 20px;
}

.catalog-sorting-filter li {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #c9c9c9;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 113px;
    margin-right: 8px;
}

.catalog-sorting a {
    text-decoration: none;
}

.arrow-up:after {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 11px;
    height: 10px;
    background: -930px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.arrow-up:hover:after {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 11px;
    height: 10px;
    background: -972px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.arrow-up:active:after {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 11px;
    height: 10px;
    background: -951px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.arrow-up-active:after {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 11px;
    height: 10px;
    background: -951px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.arrow-down:after {
    position: absolute;
    top: 5px;
    left: 140px;
    width: 11px;
    height: 10px;
    background: -578px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.arrow-down:hover:after {
    position: absolute;
    top: 5px;
    left: 140px;
    width: 11px;
    height: 10px;
    background: -618px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.arrow-down:active:after {
    position: absolute;
    top: 5px;
    left: 140px;
    width: 11px;
    height: 10px;
    background: -599px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.sorting-option {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #c9c9c9;
    border-bottom-style: dotted;
    border-bottom-color: #ee3643;
    border-bottom-width: thin;
    text-transform: uppercase;
    text-decoration: none;
}

.sorting-option:hover {
    color: #000000;
    border-bottom-style: solid;
}

.sorting-option:active {
    color: #ee3643;
    border-bottom-style: none;
}

.catalog-sorting a {
    display: inline-block;
    vertical-align: top;
}

.sorting-option-price {
    margin-right: 70px;
    margin-left: 20px;
}

.sorting-option-type {
    margin-right: 65px;
    margin-left: -3px;
    margin-top: -2px;
}

.sorting-option-function {
    margin-left: 45px;
    margin-left: -3px;
    margin-top: -2px;
}

.arrow-up {
    position: relative;
    margin-left: -66px;
    margin-top: -2px;
}

.arrow-down {
    position: relative;
    margin-right: 15px;
    margin-top: -2px;
}

.sorting-option-active {
    color: #ee3643;
}

.goods {
    position: relative;
    margin-top: -20px;
}

.catalog-goods {
    width: 700px;
    float: right;
}

.goods-item {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-top: 20px;
    min-height: 318px;
    border: 1px solid #e5e5e5;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.goods-item:nth-child(3n) {
    float: right;
    margin-right: 0px;
}

.goods-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border: 1px solid transparent;
}

.item-buttons {
    position: absolute;
    display: none;
    top: 0;
    width: 218px;
    height: 150px;
    padding-top: 45px;
    background-color: #ffffff;
}

.goods-item:hover .item-buttons {
    display: block;
}

.popular-item:hover .item-buttons {
    display: block;
}

.goods-item-buy {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 135px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #63a63e;
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px 0px rgba(54, 115, 21, 1);
}

.goods-item-buy:before {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 17px;
    height: 16px;
    background: -255px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.goods-item-buy:hover::before {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 17px;
    height: 16px;
    background: -59px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.goods-item-buy:active::before {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 17px;
    height: 16px;
    background: -32px -5px url("../img/icons/sprite-icon.png") no-repeat;
    content: "";
}

.goods-item-buy:hover {
    background-color: #5fbb2d;
}

.goods-item-buy:active {
    background-color: #518534;
    box-shadow: none;
}

.goods-item-bookmark {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 129px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    border: solid 3px #63a63e;
}

.goods-item-bookmark:hover {
    border-color: #32425c;
}

.goods-item-bookmark:active {
    color: #c1c6ce;
    border-color: #c1c6ce;
}

.goods-paginator {
    font-size: 0;
    margin-bottom: 60px;
    margin-top: 50px;
}

.goods-paginator a,
.goods-paginator span {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: baseline;
    padding-top: 9.5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 14px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}

.goods-paginator span {
    color: #ffffff;
}

.goods-paginator a:hover {
    border-color: #bdc6ca;
}

.goods-paginator a:active {
    border-color: #ee3643;
}

.goods-paginator .goods-paginator-next {
    padding-left: 31px;
    padding-right: 31px;
}

.goods-paginator .goods-paginator-active {
    padding-right: 14px;
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.seo-text {
    background-color: #f2f6f8;
    padding: 40px 1px 35px 0;
}

.seo-text p {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-top: -20px;
    margin-bottom: 33px;
}

.seo-text-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.icon-new:before {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 25px;
    font-family: "Cuprum", sans-serif, Arial;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    top: 5px;
    right: -30px;
    color: white;
    content: "new";
    background-color: #ee3643;
    transform: rotate(45deg);
}

.offer {
    margin-top: 60px;
    margin-bottom: 35px;
}

.offer-item {
    display: inline-block;
    vertical-align: baseline;
    float: left;
    position: relative;
    width: 300px;
    min-height: 123px;
    padding: 0px 0 15px 23px;
    margin-right: 20px;
    margin-bottom: 19px;
    background-color: dodgerblue;
    overflow: hidden;
}

.offer .offer-item:nth-child(3n) {
    float: right;
    margin-right: 0;
}

.offer .offer-item:nth-child(5) {
    float: right;
    margin-right: 0;
}

.offer-item-type {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 5px 14px 0px;
}

.offer-item-info {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 135px;
    padding: 9px 2px 9px 4px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.offer-item-info:hover {
    background-color: rgba(0, 0, 0, .2);
}

.offer-item-info:active {
    background-color: rgba(0, 0, 0, .3);
}

.offer-material {
    background-color: #f6b22d;
}

.offer-material:after {
    position: absolute;
    top: 30px;
    left: 213px;
    width: 45px;
    height: 65px;
    background: -713px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.offer-tool {
    background-color: #4aafde;
}

.offer-tool:after {
    position: absolute;
    top: 30px;
    left: 196px;
    width: 76px;
    height: 65px;
    background: -838px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.offer-equipment {
    background-color: #cc79d1;
}

.offer-equipment:after {
    position: absolute;
    top: 29px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: -165px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.offer-discounts {
    background-color: #85d179;
}

.offer-discounts:after {
    position: absolute;
    top: 24px;
    left: 196px;
    width: 60px;
    height: 75px;
    background: -95px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.offer-delivery {
    background-color: #f6b22d;
}

.offer-delivery:after {
    position: absolute;
    top: 32px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: -5px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.offer-slider-item {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    float: left;
    width: 620px;
    min-height: 266px;
    margin-right: 20px;
}

.offer-slider-header {
    position: relative;
}

.slider-left:before {
    position: absolute;
    top: 91px;
    left: 25px;
    width: 22px;
    height: 40px;
    background: url("../img/icons/icon-slider-left.png") no-repeat;
    content: "";
}

.slider-left:hover:before {
    position: absolute;
    top: 91px;
    left: 25px;
    width: 22px;
    height: 40px;
    background: url("../img/icons/icon-slider-left-hover.png") no-repeat;
    content: "";
}

.slider-right:before {
    position: absolute;
    top: 91px;
    left: 578px;
    width: 22px;
    height: 40px;
    background: url("../img/icons/icon-slider-right.png") no-repeat;
    content: "";
}

.slider-right:hover:before {
    position: absolute;
    top: 91px;
    left: 578px;
    width: 22px;
    height: 40px;
    background: url("../img/icons/icon-slider-right-hover.png") no-repeat;
    content: "";
}

.slider-first-dot:before {
    position: absolute;
    top: 197px;
    left: 295px;
    width: 10px;
    height: 10px;
    background: url("../img/icons/slider-dots.png") no-repeat;
    content: "";
}

.slider-second-dot:before {
    position: absolute;
    top: 197px;
    left: 315px;
    width: 10px;
    height: 10px;
    background: url("../img/icons/slider-dots.png") no-repeat;
    content: "";
}

.slider-active:before {
    position: absolute;
    top: 197px;
    left: 295px;
    width: 10px;
    height: 10px;
    background: url("../img/icons/slider-indicator.png") no-repeat;
    content: "";
}

.offer-slider-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 23px 0 0 23px;
}

.offer-slider-info {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin: 2px 0 0 25px;
}

.offer-slider-drill {
    display: none;
    background: no-repeat #77685b url("../img/slide-drill.jpg");
}

.offer-slider-puncher {
    background: no-repeat #77685b url("../img/slide-puncher.jpg");
}

.slider-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    margin: 121px 0 0 24px;
    background-color: #ee3643;
    text-align: center;
    border-radius: 5px;
    z-index: 1010;
}

.slider-btn:hover {
    background-color: #ca2c37;
}

.slider-btn:active {
    background-color: #ba2732;
}

.popular {
    background-color: #f7f3ec;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 25px 60px 30px;
}

.popular-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    display: block;
    float: left;
    margin: 0;
    width: 380px;
    margin-left: -3px;
}

.popular-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    float: right;
    width: 253px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -1px;
    margin-top: -4px;
    background-color: #ee3643;
    border-radius: 3px;
}

.popular-btn:hover {
    background-color: #ca2c37;
}

.popular-btn:active {
    background-color: #ba2732;
}

.popular-products {
    margin-bottom: 20px;
    position: relative;
}

.popular-item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 220px;
    margin-right: 20px;
    min-height: 318px;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: top;
}

.popular-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border: 1px solid transparent;
}

.popular-item-name {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-top: 4px;
}

p.popular-item-name {
    margin-top: -16px;
    margin-bottom: 11px;
}

.popular-item-name a {
    text-decoration: none;
    color: #000000;
}

.popular-item-old_price {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #999999;
    text-decoration: line-through;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 9px;
    padding-left: 3px;
}

.popular-item-price {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    position: relative;
    width: 122px;
    padding-top: 11px;
    padding-left: 14px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 42px;
    background-color: #ee3643;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.popular-item-price:after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent #ee3643;
    content: "";
}

.popular-item:last-child {
    float: right;
    margin-right: 0px;
}

.popular-brand {
    margin-bottom: 65px;
}

.brand-logo {
    display: block;
    float: left;
    width: 220px;
    min-height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.brand-logo:focus {
    outline: none;
}

.brand-logo:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border-color: transparent;
}

.brand-logo:active {
    opacity: .3;
}

.brand-logo:nth-child(4) {
    float: right;
    margin-right: 0px;
}

.brand-logo:nth-child(8) {
    float: right;
    margin-right: 0px;
}

.service {
    padding-top: 35px;
    padding-bottom: 69px;
    background-color: #f2f6f8;
}

.service-top-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    padding-top: 5px;
}

.service-top-text {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.service-menu-item {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.service-right-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    margin-top: 10px;
    position: relative;
    z-index: 3;
}

.service-right-text {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 280px;
    margin-bottom: 0px;
    margin-top: -4px;
    position: relative;
    z-index: 3;
}

.service-left {
    float: left;
    display: block;
    width: 240px;
    padding-top: 57px;
    padding-bottom: 20px;
    position: relative;
}

.service-menu {
    padding-left: 0px;
}

.service-menu:before {
    position: absolute;
    top: 30px;
    left: 230px;
    width: 10px;
    min-height: 272px;
    background: 0 0 no-repeat url("../img/shadow.png");
    content: "";
}

.service-menu-item {
    display: block;
    width: 240px;
    min-height: 60px;
    padding: 12px 0 17px 22px;
    list-style-type: none;
    background-color: #32425c;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}

.service-menu-item-active {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #ffffff;
    color: #32425c;
}

.service-menu-item:hover {
    background-color: #293449;
    color: #ffffff;
}

.service-right {
    float: right;
    width: 620px;
    padding-top: 57px;
    padding-bottom: 20px;
    min-height: 284px;
    position: relative;
}

.service-right-delivery:before {
    position: absolute;
    width: 486px;
    height: 283px;
    bottom: -70px;
    right: -26px;
    background: 0 0 no-repeat #f2f6f8 url("../img/service-delivery.png");
    content: "";
    z-index: 1;
}

.service-right-guarantee {
    display: none;
    position: absolute;
    width: 486px;
    height: 283px;
    bottom: -70px;
    right: -26px;
    background: 0 0 no-repeat #f2f6f8 url("../img/service-guarantee.png");
    content: "";
    z-index: 1;
}

.service-right-credit {
    display: none;
    position: absolute;
    width: 486px;
    height: 283px;
    bottom: -70px;
    right: -26px;
    background: 0 0 no-repeat #f2f6f8 url("../img/service-credit.png");
    content: "";
    z-index: 1;
}

.service-right-active {
    display: block;
}

.company {
    padding-top: 54px;
    padding-bottom: 84px;
}

.company-about {
    float: left;
    width: 540px;
}

.company-about-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.company-about-text {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 25px;
    margin-top: 0px;
}

.company-about-list li {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    list-style-type: none;
}

.company-about-list {
    margin-left: -4px;
    margin-top: -3px;
    margin-bottom: 36px;
}

.company-about-list li {
    position: relative;
    margin-bottom: 20px;
}

.company-about-list li:last-child {
    margin-bottom: 0;
}

.company-about-list li:before {
    position: absolute;
    top: 7px;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
}

.company-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 220px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 3px;
}

.company-btn:hover {
    background-color: #ca2c37;
}

.company-btn:active {
    background-color: #ba2732;
}

.company-contact {
    float: right;
    width: 300px;
}

.company-contact-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.company-contact-text {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 180px;
    margin-bottom: 31px;
}

.company-contact-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    display: block;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 3px;
}

.company-contact-btn:hover {
    background-color: #ca2c37;
}

.company-contact-btn:active {
    background-color: #ba2732;
}

.company-contact img {
    margin-bottom: 38px;
}

.footer-up {
    background-color: #32425c;
    padding-bottom: 10px;
}

.footer-logo {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 220px;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

.footer-logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.footer-logo:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.footer-company-menu {
    float: right;
    padding-top: 41px;
}

.footer-company-menu li {
    display: inline-block;
    vertical-align: top;
    width: 121px;
    text-align: right;
    margin-top: -14px;
    padding-left: 55px;
}

.footer-company-menu li:first-child {
    padding-left: 69px;
}

.footer-company-menu li:nth-child(2) {
    padding-left: 74px;
}

.footer-company-menu a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer-company-menu a:hover {
    text-decoration: underline;
}

.footer-company-menu a:active {
    opacity: .5;
    text-decoration: none;
}

.footer-company-menu li:last-child {
    margin-right: 0;
}

.footer-middle {
    margin-top: 0px;
    padding-bottom: 38px;
}

.footer-middle-address {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    float: left;
    width: 330px;
}

.footer-middle-address p {
    margin-bottom: 0px;
    margin-top: 19px;
    margin-left: 4px;
}

.footer-middle-address span {
    margin-left: 3px;
}

.footer-shop-menu {
    display: block;
    float: right;
    width: 600px;
    margin-top: 19px;
}

.footer-shop-menu li {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    text-align: center;
    padding-left: 34px;
    padding-right: 22px;
}

.footer-shop-menu li:first-child {
    padding-left: 35px;
}

.footer-shop-menu li:nth-child(3) {
    padding-left: 23px;
}

.footer-shop-menu a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffd180;
    text-decoration: none;
}

.footer-shop-menu a:hover {
    text-decoration: underline;
}

.footer-shop-menu a:active {
    opacity: .5;
    text-decoration: none;
}

.footer-down {
    padding-top: 35px;
    padding-bottom: 28px;
    background-color: #293449;
}

.footer-down-copyright,
.footer-down-feedback,
.footer-down-design {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    float: left;
    width: 240px;
    margin-right: 100px;
}

.footer-down-copyright {
    padding-left: 2px;
    padding-top: 2px;
}

.footer-down-design a,
.footer-down-feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer-down-design a:hover,
.footer-down-feedback a:hover {
    text-decoration: underline;
}

.footer-down-design a:active,
.footer-down-feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-down-social {
    display: block;
    float: left;
    width: 135px;
    margin-right: 115px;
    margin-left: 50px;
    min-height: 40px;
}

.footer-social-btn {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.footer-social-btn:hover,
.footer-social-btn:active {
    background-color: #ee3643;
}

.footer-social-vk:before {
    position: absolute;
    top: 16px;
    left: 11px;
    width: 20px;
    height: 12px;
    background: -683px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.footer-social-fb:before {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 10px;
    height: 18px;
    background: -446px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.footer-social-inst:before {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 17px;
    height: 17px;
    background: -491px -5px url("../img/icons/sprite.png") no-repeat;
    content: "";
}

.footer-down-feedback {
    float: left;
    width: 140px;
    margin-right: 40px;
    margin-left: 1px;
    margin-top: 2px;
}

.footer-down-design {
    float: right;
    width: 110px;
    margin-right: 0px;
    margin-top: 2px;
}

.map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 940px;
    height: 447px;
    margin-left: -470px;
    margin-top: -230px;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    z-index: 5000;
}

.map figure {
    width: 940px;
    height: 447px;
    margin: 0 auto;
    background-color: #E9E5DC;
}

.map-close {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.map-close:before {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.map-close:after {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.map-close:hover:before,
.map-close:hover:after {
    background-color: #ca2c37;
}

.map-close:active:before,
.map-close:active:after {
    background-color: #ba2732;
}

.feedback-btn,
.feedback-cancel {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.feedback-cancel {
    color: #000000;
}

.feedback-data {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.feedback input,
.feedback textarea {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.feedback {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    padding-top: 48px;
    margin-top: -250px;
    margin-left: -300px;
    border-top: solid 7px #ee3643;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    background-color: #ffffff;
    z-index: 5000;
}

.feedback-userdata,
.feedback-block-buttons {
    padding-left: 80px;
    padding-right: 80px;
}

.feedback-close {
    position: absolute;
    right: 40px;
    top: 20px;
}

.feedback-close:before {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.feedback-close:after {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.feedback-close:hover:before,
.feedback-close:hover:after {
    background-color: #ca2c37;
}

.feedback-close:active:before,
.feedback-close:active:after {
    background-color: #ba2732;
}

.feedback-left-column {
    float: left;
    width: 220px;
}

.feedback-right-column {
    float: right;
    width: 220px;
}

.feedback-block {
    margin-bottom: 22px;
}

.feedback-data,
.feedback-block label {
    margin-bottom: 9px;
}

.feedback-block input {
    width: 202px;
    padding-top: 9.5px;
    padding-bottom: 7.5px;
    padding-left: 14px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
}

textarea {
    width: 440px;
    height: 98.5px;
    padding-top: 9.5px;
    padding-left: 14px;
    margin-bottom: 30px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    overflow: auto;
    resize: none;
}

textarea:focus,
.feedback-block input:focus {
    outline: none;
}

.feedback-block-buttons {
    background-color: #f1f1f1;
}

.feedback-block-buttons {
    padding-top: 37px;
    padding-bottom: 37px;
    font-size: 0;
}

.feedback-btn:last-child {
    margin-right: 0;
}

.feedback-btn,
.feedback-cancel {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 78px;
    padding-right: 81px;
    margin-right: 20px;
    border-style: none;
    border-radius: 5px;
    outline: none;
    background-color: #ee3643;
}

.feedback-btn:hover {
    background-color: #ca2c37;
}

.feedback-btn:active {
    background-color: #ba2732;
}

.feedback-cancel {
    padding-left: 85px;
    padding-right: 89px;
    background-color: #ffffff;
}

.feedback-cancel:hover {
    color: #ee3643;
    background-color: #ffffff;
}

.feedback-cancel:active {
    color: rgba(0, 0, 0, .6);
    background-color: #ffffff;
}

.cart-notification-title {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #000000;
    position: relative;
    margin-left: 180px;
    margin-bottom: 68px;
}

.cart-notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    padding-top: 66px;
    margin-top: -200px;
    margin-left: -300px;
    background-color: #ffffff;
    border-top: solid 7px #ee3643;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    z-index: 5000;
}

.cart-notification-close {
    position: absolute;
    right: 40px;
    top: 20px;
}

.cart-notification-close:before {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.cart-notification-close:after {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.cart-notification-close:hover:before,
.cart-notification-close:hover:after {
    background-color: #ca2c37;
}

.cart-notification-close:active:before,
.cart-notification-close:active:after {
    background-color: #ba2732;
}

.cart-notification-title:before {
    position: absolute;
    top: -20px;
    left: -100px;
    width: 64px;
    height: 64px;
    background: url(../img/icons/ok.png);
    content: "";
}

.cart-notification-decision {
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 80px;
    background-color: #f1f1f1;
}

.cart-order-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 59px;
    padding-right: 62px;
    margin-right: 20px;
    border-style: none;
    border-radius: 3px;
    background-color: #ee3643;
    cursor: pointer;
}

.cart-order-btn:hover {
    background-color: #ca2c37;
}

.cart-order-btn:active {
    background-color: #ba2732;
}

.cart-cancel-btn {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 9px;
    margin-right: 20px;
    border-style: none;
    border-radius: 3px;
    padding-left: 44px;
    padding-right: 48px;
    background-color: #ffffff;
    cursor: pointer;
}

.cart-cancel-btn:hover {
    color: #ee3643;
}

.cart-cancel-btn:active {
    color: rgba(0, 0, 0, .6);
}
